{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'blog/css/style.css' %}" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <link href="{% static 'blog/css/aos.css' %}" rel="stylesheet">
        <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'blog/css/main.css' %}" rel="stylesheet">
        <noscript>
            <style type="text/css">
            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }
            </style>
        </noscript>
        <title>{{Judul}} | Bismillah 100</title>
    </head>
    <body>
            {% include "blog/navbar.html" %}

            <div class="page-content">
                <div>
                    <div class="profile-page">
                        <div class="wrapper">
                            <div class="page-header page-header-small" filter-color="green">
                                <div class="container">
                                <div class="content-center">
                                <div class="cc-profile-image"><a href="#"><img src="{% static 'blog/img/valen.jpeg' %}" alt="Image"/></a></div>
                                <div class="h2 title">{{Nama}}</div>
                                <p class="category text-white">{{Desc}}</p><a
                class="btn btn-primary"
                href="#about"
                data-aos="zoom-in"
                data-aos-anchor="data-aos-anchor"
                >Click For Detail!</a>
                                </div>
                            </div>
        <div class="section">
            <div class="container">
                <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Facebook"><i class="fa fa-facebook"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Google+"><i class="fa fa-google-plus"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Instagram"><i class="fa fa-instagram"></i></a></div>
                </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="section" id="about">
  <div class="container">
    <div class="card">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>Haloo! Saya Valen Rionald seorang mahasiswa dari kampung dan masih mencari yang tidak dicari.</p>
            <p>Asal saya dari Kota Kecil bernama Kuningan yang berada di Provinsi Jawa Barat. Saya sedang berkuliah di ULBI yang katanya sih Go Internasional. Motivasi saya yang sedang saya sukai saat ini adalah Tetap Semangat Walaupun Nihil Awokwokwokwok.</p>
            <p>Canda dikit pak hehe, semoga bapak sehat selalu.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
              <div class="col-sm-8">{{Umur}}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">NPM:</strong></div>
              <div class="col-sm-8">{{NPM}}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8">{{Email}}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
              <div class="col-sm-8">{{HP}}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
              <div class="col-sm-8">{{Asal}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section" id="about">
  <div class="container">
    <div class="card">
      {% block content-1 %}
      {% for v in post %}
          <div class="card-body">
            <div class="h4 mt-0 title"><center>{{v.title}}</center></div>
            <p>Body : {{v.body}}</p>
            <p>Email : {{v.email}}</p>
          </div>
      {% endfor %}
      {% endblock content-1 %}
    </div>
  </div>
</div>

            <footer class="footer">
                <div class="container text-center">
                    <a class="cc-facebook btn btn-link" href="#">
                        <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
                    </a>
                    <a class="cc-twitter btn btn-link " href="#"><i class="fa fa-twitter fa-2x " aria-hidden="true"></i></a><a class="cc-google-plus btn btn-link" href="#">
                        <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
                    </a>
                    <a class="cc-instagram btn btn-link" href="#">
                        <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
                    </a>
                </div>
                <div class="h4 title text-center">{{Nama}}</div>
                <div class="text-center text-muted">
                    <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
                </div>
            </footer>
            <script src="{% static 'blog/js/core/jquery.3.2.1.min.js' %}"></script>
            <script src="{% static 'js/core/popper.min.js' %}"></script>
            <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/now-ui-kit.js' %}"></script>
            <script src="{% static 'js/aos.js' %}"></script>
            <script src="{% static 'scripts/main.js' %}"></script>
    </body>
</html>