{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <link href="{% static 'css/aos.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <noscript>
            <style type="text/css">
            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }
            </style>
        </noscript>
        <title>{{judul}}</title>
    </head>
    <body>
            {% include "navbar.html" %}

            <div class="page-content">
                <div>
                    <div class="profile-page">
                        <div class="wrapper">
                            <div class="page-header page-header-small" filter-color="green">
                                <div class="container">
                                <div class="content-center">
                                <div class="cc-profile-image"><a href="#"><img src="{% static 'img/images.jpg' %}" alt="Image"/></a></div>
                                <div class="h2 title">{{h2}}</div>
                                <p>{{p}}</p>
                                <p class="category text-white">{{Desc}}</p><a
                class="btn btn-primary"
                href="{% url "blog:index" %}"
                data-aos="zoom-in"
                data-aos-anchor="data-aos-anchor"
                >Blog</a><br>
                <a
                class="btn btn-primary"
                href="{% url "form:index" %}"
                data-aos="zoom-in"
                data-aos-anchor="data-aos-anchor"
                >Form</a>
                                </div>
                            </div>
        <div class="section">
            <div class="container">
                <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Facebook"><i class="fa fa-facebook"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Google+"><i class="fa fa-google-plus"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Instagram"><i class="fa fa-instagram"></i></a></div>
                </div>
                    </div>
                </div>
            </div>
        </div>
            <script src="{% static 'js/core/jquery.3.2.1.min.js' %}"></script>
            <script src="{% static 'js/core/popper.min.js' %}"></script>
            <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/now-ui-kit.js' %}"></script>
            <script src="{% static 'js/aos.js' %}"></script>
            <script src="{% static 'scripts/main.js' %}"></script>
    </body>
</html>