{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="utf-8" />
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'form/css/daftar.css' %}" />
      <link href="{% static 'form/css/bootstrap.min.css' %}" rel="stylesheet" />
      <link href="{% static 'form/css/main.css' %}" rel="stylesheet" />
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous" />
    </head>
    <title>Data User</title>
  </head>
  <body class="body">
    <div class="container">
      <a class="btn btn-success" href="{% url 'form:index' %}">Tambah Data</a>
      <table class="table table-dark table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nama</th>
            <th scope="col">Alamat</th>
            <th scope="col">Tanggal Lahir</th>
            <th scope="col">Email</th>
            <th scope="col">Slug</th>
            <th scope="col">Edit</th>
            <th scope="col">Hapus</th>
          </tr>
        </thead>
        <tbody>
          {% block content-1 %} {% for v in post %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{v.nama}}</td>
            <td>{{v.alamat}}</td>
            <td>{{v.tgl_lahir}}</td>
            <td>{{v.email}}</td>
            <td>{{v.slug}}</td>
            <td>
              <a class="btn btn-warning" href="{% url 'form:update' v.id %}"
                >Update</a
              >
            </td>
            <td>
              <a class="btn btn-danger" href="{% url 'form:delete' v.id %}"
                >Hapus</a
              >
            </td>
          </tr>
          {% endfor %} {% endblock content-1 %}
        </tbody>
      </table>
      <a class="btn btn-danger" href="{% url 'index' %}">Back to Home</a>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
  </body>
</html>
